svg path {
	-webkit-transition: fill 0.5s, fill-opacity 0.5s;
	transition: fill 0.5s, fill-opacity 0.5s;
}

@media screen and (min-device-width: 800px) {
	svg path:hover {
		fill: red !important;
		fill-opacity: 0.75;
	}
}